@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;

.email-notify {
  display: flex;
  justify-content: center;
  flex-direction: row;
  line-height: 1.4;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 4rem;
  }

  .email-notify-card {
    padding: 1.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    @include tablet {
      width: 45vw;
    }

    @include desktop {
      width: 34vw;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &__text {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .email-notify-redirect {
      display: flex;
      justify-content: center;

      &__login {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        background-color: $secondary-color-darkblue;
        color: $secondary-color-greywhite;
        text-transform: uppercase;
        padding: 0.6rem;
        font-weight: 600;
        margin-top: 0.5rem;

        @include tablet {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }

        &--cta:hover {
          background-color: $primary-color-lightblue;
          color: $primary-color-white;
          cursor: pointer;
        }
      }
    }
  }
}
