// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//COLORS:
$primary-color-black: #08090a;
$primary-color-lightblue: #0099cc;
$primary-color-lavender: #dfd9e2;
$primary-color-white: #ffffff;
$secondary-color-gunmetal: #25292d;
$secondary-color-darkblue: #007ea7;
$secondary-color-greywhite: #ebebeb;
$secondary-color-alabaster: #fafafa;
$secondar-color-lightblack: #373d43;
