@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.hero {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-image: linear-gradient(rgba(0, 5, 1, 0.18), rgba(0, 5, 1, 0.18)),
    url("../../assets/images/suzi-kim-LpK55Nv-Na8-unsplash.jpg");
  background-size: cover;
  height: 100vh;

  @include tablet {
    justify-content: center;
  }

  @include desktop {
    padding: 2rem;
  }

  .hero-text {
    margin: 1.5rem 0;

    @include tablet {
      width: 45vw;
    }

    &__headline {
      font-size: 1.75rem;
      line-height: 1.6;
      font-weight: 700;
      color: $secondary-color-greywhite;

      @include tablet {
        font-size: 1.5rem;
        line-height: 1.8;
      }

      @include desktop {
        font-size: 2rem;
        line-height: 1.3;
      }
    }

    &__mission {
      font-size: 1rem;
      font-weight: 600;
      color: $primary-color-white;
      margin: 0.5rem 0;
      line-height: 1.55;

      @include tablet {
        margin: 1rem 0;
        line-height: 1.65;
      }

      @include desktop {
        font-size: 1.125rem;
      }
    }

    &__trynow {
      margin-top: 0.5rem;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      background-color: $secondary-color-darkblue;
      color: $secondary-color-greywhite;
      text-transform: uppercase;
      padding: 0.6rem;
      font-weight: 600;

      @include desktop {
        padding: 1rem;
        font-size: 16px;
      }

      &--cta:hover {
        background-color: $primary-color-lightblue;
        color: $primary-color-white;
        cursor: pointer;
      }
    }
  }
}
