@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.visualizer {
  width: 100%;
  background-color: $primary-color-lavender;

  .visualizer-panel {
    background-image: linear-gradient(#fff, #dfd9e2, #25292d);
    position: relative;
    height: 10vh;
    padding-top: 0.6rem;
  }

  .visualizer-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;

    .visualizer-settings {
      padding: 0;

      &__icon {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0.875rem;
        left: 0.625rem;
      }
    }

    .visualizer-playback {
      padding: 0;

      &__play {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid $secondary-color-alabaster;
        background-color: $secondary-color-gunmetal;
        color: $primary-color-white;
        padding: 0.6rem;

        &:hover {
          cursor: pointer;
          background-color: $secondar-color-lightblack;
        }
      }

      &__pause {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid $secondary-color-alabaster;
        background-color: $secondary-color-gunmetal;
        color: $primary-color-white;
        padding: 0.6rem;
        margin: 0 1rem;

        &:hover {
          cursor: pointer;
          background-color: $secondar-color-lightblack;
        }
      }

      &__restart {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid $secondary-color-alabaster;
        background-color: $secondary-color-gunmetal;
        color: $primary-color-white;
        padding: 0.6rem;

        &:hover {
          cursor: pointer;
          background-color: $secondar-color-lightblack;
        }
      }
    }

    .visualizer-apply {
      padding: 0;

      &__btn {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid $secondary-color-alabaster;
        background-color: $secondary-color-gunmetal;
        color: $primary-color-white;
        padding: 0.6rem;
        position: absolute;
        top: 0.625rem;
        right: 0.75rem;

        &:hover {
          cursor: pointer;
          background-color: $secondar-color-lightblack;
        }
      }
    }
  }

  .loading {
    color: $primary-color-black;
    font-size: 14px;
    font-weight: 600;
  }
}

.form-input {
  &__title {
    display: flex;
    flex-direction: column;
    color: $primary-color-white;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  &__color {
    margin-top: 0.3rem;
  }
}

.upload-files {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  &__title {
    color: $primary-color-white;
    width: 25vw;
  }

  input#soundFile,
  input#imageFile {
    display: none;
  }

  input#soundFile + label,
  input#imageFile + label {
    display: flex;
    align-items: center;
    background-color: $secondary-color-alabaster;
    color: $secondary-color-gunmetal;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-top: 1rem;
    width: 14.5%;
    padding: 0.4rem;
  }

  input#soundFile + label:hover,
  input#imageFile + label:hover {
    border: 1px solid $primary-color-lightblue;
    cursor: pointer;
  }

  .selected-audio {
    &__input {
      margin-right: 0.5rem;
    }

    &__placeholder {
      font-size: 15px;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    .selected-file {
      font-size: 14px;

      &__text {
        color: $primary-color-white;
        padding-top: 1rem;
      }

      #file-name {
        color: $primary-color-white;
      }
    }
  }

  .selected-image {
    &__input {
      margin-right: 0.5rem;
    }

    &__placeholder {
      font-size: 15px;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    .selected-file {
      font-size: 14px;

      &__text {
        color: $primary-color-white;
        padding-top: 1rem;
      }

      #file-name {
        color: $primary-color-white;
      }
    }
  }

  .selected-style {
    font-family: "Poppins";
    margin-top: 1rem;
    font-size: 0.875rem;
    color: $primary-color-white;
    display: flex;
    flex-direction: column;
    line-height: 1.1rem;

    &__title {
      color: $primary-color-white;
      margin-bottom: 0.5rem;
      width: 12vw;
    }

    &__options {
      width: 13vw;
      font-family: "Poppins";
      padding: 0.2rem;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &__input {
      font-family: "Poppins";
      width: 13vw;
      background-color: $secondary-color-alabaster;
      color: $secondary-color-gunmetal;
      padding: 0.2rem;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
