@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.header {
  padding: 1.5rem;

  @include desktop {
    padding: 2rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      margin: 0;
    }

    .nav-logo {
      width: fit-content;
      height: fit-content;
      margin: 0 auto;

      @include tablet {
        margin: 0;
      }

      &__main {
        width: 9rem;

        @include tablet {
          width: 10.5rem;
        }
        @include desktop {
          width: 11rem;
        }
      }
    }

    .nav-links {
      padding-top: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;

      @include tablet {
        font-size: 1.025rem;
        width: 25vw;
        padding: 0;
      }

      @include desktop {
        width: 20vw;
        font-size: 1.125rem;
      }

      &__anchor {
        color: $primary-color-black;
      }

      &__link {
        font-weight: 600;
        width: 42.5vw;

        &--cta {
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
          background-color: $secondary-color-darkblue;
          color: $secondary-color-greywhite;
          text-transform: uppercase;
          padding: 0.5rem;

          @include tablet {
            padding: 0.6rem;
          }

          @include desktop {
            padding: 1rem;
            font-size: 1rem;
          }
        }

        &--cta:hover {
          background-color: $primary-color-lightblue;
          color: $primary-color-white;
          cursor: pointer;
        }

        @include tablet {
          width: 10vw;
        }

        &--hidden {
          display: none;

          @include tablet {
            display: inline-block;
          }
        }
      }
    }
  }
}
