@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.header {
  padding: 1rem;

  .nav {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include tablet {
    }

    .nav-logo {
      width: fit-content;
      height: fit-content;
      margin: 0 auto;

      &__main {
        width: 9rem;
        height: 1.6625rem;
      }
    }

    .nav-links {
      padding-top: 0.5rem;
      display: flex;
      justify-content: space-around;
      text-align: center;

      @include tablet {
        width: 25vw;
        display: flex;
        justify-content: space-around;
      }

      &__link {
        color: #08090a;
        font-weight: 600;
        width: 45vw;

        &--hidden {
          display: none;

          @include tablet {
            display: inline-block;
          }
        }
      }
    }
  }
}
